**
!pyproject.toml
!src/
!src/librarytool/
!src/librarytool/**
!services/
!services/image_processor/
!services/image_processor/cloudbuild.yaml
!services/image_processor/Dockerfile
!services/image_processor/pyproject.toml
!services/image_processor/README.md
!services/image_processor/requirements.lock
!services/image_processor/whl_image_processor/
!services/image_processor/whl_image_processor/**
